<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="margin-top8" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="95" fxLayoutAlign="start end" [fxShow]="true"><button mat-raised-button (click)="openDialog()">Add User</button></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="column wrap" class="dashboard-table" fxFlex="95" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column">
          <table mat-table [dataSource]="page?.tableData" class="table-width-fix">
            <tr mat-header-row *matHeaderRowDef="[&apos;position&apos;,&apos;name&apos;,&apos;weight&apos;,&apos;symbol&apos;,&apos;941bf728-d95b-8d43-07ca-99e4d53ab8b5&apos;]"></tr>
            <tr mat-row *matRowDef="let row; columns: [&apos;position&apos;,&apos;name&apos;,&apos;weight&apos;,&apos;symbol&apos;,&apos;941bf728-d95b-8d43-07ca-99e4d53ab8b5&apos;];"></tr>

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Position</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.position}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.name}}</td>
            </ng-container>

            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef>Weight</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.weight}}</td>
            </ng-container>

            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef>Symbol</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.symbol}}</td>
            </ng-container>

            <ng-container matColumnDef="941bf728-d95b-8d43-07ca-99e4d53ab8b5">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let table; let i = index;">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
                  <mat-icon style="color: green;" class="cursor" (click)="openDialog()">edit</mat-icon>
                  <mat-icon style="color: red;" class="cursor">delete</mat-icon>
                </div>
              </td>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  </div>
</div>